.my {
  height: calc(100vh - 7rem);
  width: 100vw;
  overflow-y: scroll;
}

.my_top {
  height: 30rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#355BCB, #4A71E1, #5E85F6);
}

.user_top {
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.user_top_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user_top_right p {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}

.user_top_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.user_top_left small {
  color: #ccc;
}

.user_top_left img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.face {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.user_bot {
  width: 90vw;
  margin: 0 auto;
  border-radius: 1rem;
  flex: 1;
  background-color: #fff;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user_bot_noe {
  display: flex;
  justify-content: space-between;
}

.user_bot_two {
  display: flex;
  justify-content: space-between;
}

.user_bot_thr {
  display: flex;
  justify-content: flex-end;
}

.rv-icon {
  vertical-align: middle;
  font-size: 3rem;
}

.my_icon {
  color: blue;
}

.my_inpu {
  opacity: 0;
  width: 6rem;
  position: absolute;
  top: 0;
  left: 0;
}

.demo-uploader {
  background-color: #fff;
}

.demo-uploader .avatar {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  height: 200px;
  border-radius: 20px;
  width: 100%;
}

.demo-uploader .avatar .rv-uploader__preview {
  margin: 0;
  border-radius: 50%;
}

.awit {
  width: 100vw;
  height: 15rem;
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 1rem 0rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.awit_top {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.awit_bot {
  display: flex;
  flex: 1;
}

.abt {
  height: 20rem;
  align-content: space-evenly;
}

.abot {
  margin-top: 2rem;
}

.awit_bot_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
