.nav{
    background-color: #F2F2F2;
    height: 7rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav a{
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active{
    color: red!important;
}
